* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
}
body {
  background: url(../_images/cedarentry.jpg) no-repeat center center fixed;
  /* 	background: url(../_images/sam.jpg) no-repeat center center fixed; */

  /* 	background: url(../_images/kathryn.jpg) no-repeat center center fixed; */

  /* 	background: url(../_images/group_9.jpg) no-repeat center center fixed; */

  /* 	background: url(../_images/jim_3.jpg) no-repeat center center fixed; */

  /* 	background: url(../_images/charles_2.jpg) no-repeat center center fixed; */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "franklin-gothic-urw";
  width: 100%;
}
header {
  text-transform: uppercase;
}
#wrapper {
  width: 88.8888889%;
  margin: 0px 5.55555556%;
}
h1 {
  color: red;
  width: 51.44444444444444%;
  float: left;
  font-size: 1em;
}
nav {
  width: 51.44444444444444%;
  color: #FFF;
  float: right;
}
nav ul li {
  width: 25.22222222222222%;
  font-size: 1em;
  font-weight: bold;
}
.cartodb-embed-map {
  position: absolute;
}
